html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#dropdown{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.drp{
    display: none;
    cursor: pointer;
    user-select: none;
    border: 1px solid #4c4b4b;
    margin-top: 10px;
    padding: 5px;
}

#player{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

#close{
    cursor: pointer;
    user-select: none;
}

body{
    background-color: #161616;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
}

#second_body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#left_bar{
    top: -10px;
    left: 0;
    position: fixed;
    background-color: #111111;
    
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 232px;
    height: 100vh;
}

#logo{
    height: 40px;
    width: 131px;
}

#place_logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}